# ==== GLOBAL ====
__pycache__/
*.pyc

# ==== RUNTIME OUTPUT ====
logs/
reports/
data/

# ==== TEMP / BACKUP ====
*.tmp
*.dotx
*.txt

# ==== PROTECT OTHER ENGINES ====
../engine_09_multi_file_loader/
../engine_14_api_fetch_pagination/
